* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	text-transform: capitalize;
}
.dashboard{
	height: 30vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	place-items: center;
	.card{
		background-color: #ece3e3;
		padding: 10px;
    text-align: center;
	}
}
.getInput {
	
	margin-top: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	place-items: center;
	.dsec {
		display: flex;
		flex-direction: column;gap: 1rem;
		input{
			padding: 5px 10px;
		}
		button{
			margin: 0 auto;
			width: 50%;
		}
	}
}
